<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <main>
       <header> <h1>Mi familia.</h1></header> 
       <nav>
        <a href="../index.html">Quien soy</a>
        <a href="hobbies.html">Mis hobbies</a>
        </nav>
        <section>
           <h2>Quienes la componen?</h2> 
           <p class="box">El nucleo de mi familia está conformada por mi madre y mis 3 hermanos, tenemos nuestra mascota. Mi padre aunque no viva con nosotros somos muy unidos.</p>
          
           <img src="/assets/Fam.webp" alt="descripcion de la imagen">
           <img src="/assets/herma.webp" alt="descripcion de la imagen">
           <img src="/assets/coco.webp" alt="descripcion de la imagen">
        </section>

    </main>
</body>
</html>
