<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <main>
        <header> <h1>Mis Hobbies</h1></header> 
        <nav>
         <a href="../index.html">Quien soy</a>
         <a href="familia.html">Mi familia</a>
         </nav>
         <section>
            <h2>Que me apasiona?</h2> 
            <p>Mis aficiones son diversas, como pueden ser de escritorio o ser de actividad fisica.</p>
            <ul>
                <p class="box">Me apasiona escribir o leer tanto libros del genero filosofico  como poesia romantica o epica.</p>
                <img src="/assets/poema.webp" alt="descripcion de la imagen">
                <p class="box">Mi deporte favorito, en el cual tuve gran desempeño al punto de recibir beca por él, es el Balonmano</p>
                <img src="/assets/BM.webp" alt="descripcion de la imagen">
                <p class="box">Me gustan los videojuegos, en especial del apartado RPG y  mi favorito son Elden ring.</p>
                <img src="/assets/elden.jpg" alt="descripcion de la imagen">
            </ul>
         </section>
 
     </main>
</body>
</html>