*{
    margin: 0 0 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center; 
}

header{
    background: linear-gradient(to top, #ffffff, #000000);
}

body{
    background: url(/assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    max-width: 1000px;
    margin: auto;
    border: 1px solid salmon;
    background: white;
}


a{
    text-align: center;
    padding: 0.3cm;
    margin: 110px;    background: url(/assets/fondo.jpg);
    background-size: cover;
    color: #000000;
    border: 1px solid salmon;

}

a:hover{
    background: url(/assets/fondobacktext.webp);
    color: white;
}

h1{
    background: url(/assets/Fondobacktext.jfif);
    padding: 20px;
    background-size: cover;
    color: salmon;
   
}

h2{
    background: url(/assets/Fondobacktext.jfif);
    background-size: cover;
    color: black;
    padding: 0.5cm;
}

img{
    background: none;
    width: 40%;
    max-width: 300px;
    height: 50%;
    max-height: 400px;

}

section .box{
    background: url(/assets/Fondobacktext.jfif);
    background-size: cover;
    width: 50%;
    color: black;
    padding: 0.5cm;
    text-align: justify;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

footer{
    color: grey;
}

li{
    padding: 0; /* Elimina el padding */
    text-align: center; /* Centra el texto dentro de la lista */
    display: inline-block; /* Hace que los <li> se alineen en una fila */
    margin: 0 10px;
}
    

 